@import 'src/styles/vars';

.path {
    display: block;
    width:100%;
    font-family: $font-family;
    color: $text-color;
    padding-left: 2.5rem;
}

.contain {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding-top: 120px;
    font-family: $font-family;
    background-color:#F9F9F9;  
    margin: 0 auto;
}
    
.content {
    width: 80%;
    border-radius: 8px;
    margin : 1rem auto;
    box-shadow: 4px 4px 6px #D7D7D7;
    transition: transform .1s;
    background-color: #F2F2F2;
    padding-top: calc(20px - 1rem);
    height: 0 auto;
}

.content:hover{
    // transform: scale(1.05);
    // margin: 1rem auto;
    font-family: $font-family;
    color: $text-color;
}


.title {
    display: flex;
    justify-content: space-between;
    height: 20px;
    text-align: left;
    margin: 0.2rem 1rem 0.2rem 1rem;
    font-size: 0.8rem;
    filter: drop-shadow(1px 1px 2px #DCDCDC);
    font-weight: bolder;
}

.delete {
    width: 2em;
    margin-right: 4px;
}

.delete:hover {
    transform: scale(1.05); 
    // transform: rotate(90deg);
    transition-duration: 200ms, 300ms;
    filter: drop-shadow(1px 1px 2px #DCDCDC);
}

.item {
    width: 2rem;
    margin-right: 3px;
    display: inline;
}


.summary-lists {
    display: flex;
    display: block;
    text-align: left;
    // width: 32%;
    // margin: 0 1rem;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
    line-height: 1.2rem;
    background-color: #FFF;
    padding: 1rem ;
    color: #B6B6B6;
}

.list-items {
    width: 100%;
}

.list-infos {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(238, 237, 237);
    padding: 0.4em;
}

.path {
    display: block;
    width:100%;
    font-family: $font-family;
    color: $text-color;
    padding-left: 2.5rem;
    padding-top: 120px;
}



@media (min-width: 800px){
    .path {
        padding-left: 16%;
    }

    .content {
    width: 100%;
    margin: 1rem 1rem;
    
    }

    .container {
        margin: auto;
        width: 70%;
        
        display: flex;
        flex-flow: row wrap;
    }



.summary-title {
    font-weight: bold;
    color: $text-color;
    padding-bottom: 0.2rem;
}
}


            