@import 'src/styles/vars';

.navigation {
    display: block;
    width:100%;
    font-family: $font-family;
    color: $text-color;
    padding-left: 2.5rem;
}

.mainContainer {
    width: 100%;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-top: 120px;
    font-family: $font-family;
    background-color:#F9F9F9;
    
}

    
.mainContent {
    width: 80%;
    border-radius: 8px;
    margin : 1rem auto;
    box-shadow: 4px 4px 6px #D7D7D7;
    transition: transform .1s;
    background-color: #F2F2F2;
    padding-top: calc(20px - 1rem);
}

.mainContent:hover{
    transform: scale(1.05);
    width: 50;
    margin: 1rem auto;

}


.title {
    height: 20px;
    text-align: left;
    margin: 0.2rem 1rem 0.2rem 1rem;
    font-size: 0.8rem;
    filter: drop-shadow(1px 1px 2px #DCDCDC);
    font-weight: bolder;
}
    
    
.recette {
    padding-top: 0.5rem;
    height: 260px;
    background-image: url(./recettes-crepes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.legumes {
    padding-top: 0.5rem;
    height: 260px;
    background-image: url(./legumes.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;

}

.summary {
    display: block;
    text-align: left;
    width: 32%;
    margin: 0 1rem;
    border-radius: 10px;
    line-height: 1.2rem;
    background-color: rgba(255, 255, 255, 0.880);
    padding: 0.3rem ;
    color: #B6B6B6;
}

.recipe-items {
    display: none;
    
}



@media (min-width: 800px){
    .navigation {
        padding-left: 1rem;
    }

    .mainContent {
    width: calc(50% - 2rem);
    margin: 1rem 1rem;
    
    }

    .mainContainer {
        margin: auto;
        width: 70%;
        
        display: flex;
        flex-flow: row wrap;
    }

.recipe-items {
    display: block;
    
}

.summary-title {
    font-weight: bold;
    color: $text-color;
    padding-bottom: 0.2rem;
}
}