@import '../../styles/_vars.sass'

.containerSlider
    width: 80%
    height: 100%

.indicators
    color: $text-color

.each-slide
    text-align: center
    padding-top: 120px
    padding-bottom: 4px

.img-carousel
    width: 65%

.react-slideshow-container .nav-left
  height: 30px
  background-image: url('Leftarrow.png')
  background-size: cover
  background-repeat: no-repeat
  width: 30px
  z-index: 10
  text-align: center
  cursor: pointer
  color: #fff
  border-radius: 50%
  display: flex
  align-items: center
  justify-content: center
  padding: 0
  background-color: white


.react-slideshow-container .nav-right 
  height: 30px
  background-image: url('Rightarrow.png')
  background-size: cover
  background-repeat: no-repeat
  width: 30px
  z-index: 10
  text-align: center
  cursor: pointer
  color: #fff
  border-radius: 50%
  display: flex
  align-items: center
  justify-content: center
  padding: 0
  background-color: white
