/**
 * Import
 */
@import src/styles/vars

.footer-menu
    
    
   
.nav-footer
    display: flex
    justify-content: space-around
    color: $text-color
    font-size: 1em
    list-style: none
    font-style: italic
    padding: 1.2em
    position: fixed
    bottom: 0
    right: 0
    left: 0
    font-family: $font-family;
    background-color: #fff;
    box-shadow: 1px 1px 4px #DCDCDC;

    li:hover 
        transform: scale(1.05, 1.05);
        transition-duration: 200ms, 300ms;
        color: $text-color;
        font-weight: bold; 
    


