@import 'src/styles/vars';


h3 {
    font-size: 1.5rem;
    margin: 16px 0;
    text-transform: uppercase;
    font-weight: bold;
}

p {
    text-align: center;
}

a:hover {
    transform: scale(1.05, 1.05);
    transition-duration: 200ms, 300ms;
    color: $text-color;
    font-weight: bold;
}

a {
    font-weight: bold;
}